{% extends 'adminLayout.html.twig' %}

{% block content %}
	<h2 class="mt-2">Auteurs non Validés</h2>
  
	<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Validé</th>


    </tr>
  </thead>
  <tbody>
  	{% for author in authors %}
      <tr>
        <th  scope="row"><a href="/adminRegister/authorUpdate/{{author.id}}"><i class="fas fa-edit" title="Modification Auteur"></i></a> 
            
            <a href="/adminRegister/authorDelete/{{author.id}}"><i class="fas fa-trash-alt" title="Suppression Auteur"></i></a>
          </th>
        <td>{{author.lastname}}</td>
        <td>{{author.firstname}}</td>

        <td>{% if author.valid == true %} <i class="far fa-check-circle" style="color:green"></i> {% endif %}</td>
       
      </tr>
    {% endfor %}

  </tbody>
</table>
	
<!--<a href="add"><button class="btn btn-dark">Nouvel article</button></a> -->
{% endblock %}