<div class="Live d-flex unique-color m-0" id="cardSide">
<ul class="Live_news d-flex pl-2 pr-2">
  <li class="news d-flex m-0">
    
    <a href="">
<!-- Heure de patution    --> 
      <div class="new_header text-white mb-2" id="asideTime{{i}}">
       
      </div>
<!-- content -->
      <div class="content text-white " id="asideContent{{i}}">
       
        
      </div>
     
     </a>
  
  </ul>
</div>
