								<div class="card d-flex flex-row p-0">
									<!--Card image-->
									<div class="view vLeft">
										<img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(132).jpg" class="card-img-top " class="img-fluid" 
										alt="">
										<a href="#">
											<div class="mask rgba-white-slight"></div>
										</a>
									</div>
									<!--Card content-->
									<div class="card-body">
										<!--Title-->
										<h4 class="card-title">Card title</h4>
										<!--Text-->
										<p class="card-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
										</p>
									</div>
								</div>