<div class="card d-flex flex-row p-0 w-100  ">
	<!--Card image-->
	<div class="view vLeft h-100">
		<a href="">
			<img src="/assets/images/{{article.image_id}}" class="card-img-top " class="img-fluid" alt="">
		</a>
		
	</div>
	<!--Card content-->
	<div class="card-body bodyLeft">
		<!--Title-->
		<a href="">
			<h4 class="card-title titleLeft">{{article.title}}</h4>
			<!--Text-->
			<p class="card-text textLeft">{{article.content}}</p>
		</a>
	</div>
</div>