<div class="card">

      <!--Card image-->
      <div class="view">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/6-col/img%20(132).jpg" class="card-img-top"
          alt="">
        <a href="#">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!--Card content-->
      <div class="card-body">
        <!--Title-->
        <h4 class="card-title">Card title</h4>
        <!--Text-->
        <p class="card-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
           </p>
      </div>

    </div>