<div class="card">
  
      <!--Card image-->
      <div class="view viewTop">
         <a href="#"> 
          <img class="img w-100" src="/assets/images/{{article.image_id}}" alt="">
         </a>
      </div>

      <!--Card content-->
      <div class="card-body ">
        <a href="">
          <h4 class="card-title titleTop">{{article.title}}</h4>
          <!--Text-->
          <p class="card-text textTop">{{article.content}}</p>
        </a>
      </div>

</div>