{% extends 'layout.html.twig' %}
    {% block stylesheet %}<link href="/assets/css/home.css" rel="stylesheet">{% endblock %}

{% block content %}




	<div class="contain pt-2">
		<section>
			<div class="container">
				<h2 class="TitleCat">{{ TitleCat.name }}</a></h2>
					<div class="row ">
{# ------Block ACtualkité ------------------------------#}
					<div class="col-md-9 ">
{#-------ACTUALITE LIGNE 1----------------------------- #}
						<div class="row ">

							<div class="col-md-8 d-flex align-items-stretch  ">
								{% for article in articles|slice(0, 1) %}
								{% include 'Home/cardTop.html.twig' %}
								{% endfor %}
							</div>
					
								<div class="col-md-4 row m-0 p-0 d-flex align-items-stretch ">
									{% for article in articles|slice(1, 2) %}
									<div class="col-12">
									{% include 'Home/card.html.twig' %}
								</div>
									{% endfor %}
								</div>					
						</div>
{#-------FIN ACTUALITE LIGNE 1----------------------------- #}

					
{#-------ACTUALITE LIGNE 2----------------------------- #}
						<div class="row ">
							{% for article in articles|slice(2, 3) %}
								<div class="col-md-4  d-flex align-items-stretch">
									{% include 'Home/card.html.twig' %}
								</div>
							{% endfor %}
						</div>
{#-------ACTUALITE LIGNE 3----------------------------- #}
						<div class="row ">
							{% for article in articles|slice(5, 3) %}
							<div class="col-md-12  d-flex align-items-stretch">
								{% include 'Home/cardLeft.html.twig' %}
							</div>	
							{% endfor %}
						</div>
					</div>
{# --------Fin Block actualite 9 ------------------------#}
					

{#-------- Block Aside info en continu ------------------#}
					<div class="col-md-3  flex-column d-flex align-items-stretch" id="fluxLive">
						{% include 'Home/asidelist.html.twig' %}
					</div>
				  </div>
				</div>
				{# row actualite #}
				
			</div>	
			{# div container #}
		</section>			  
	</div>	{# div contain #}		

{% endblock %}

