
<div class="card">

      <!--Card content-->
      <div class="card-body ">
          <a href=""><!--Title-->
            <h4 class="card-title titleLayout">{{article.title}}</h4>
            <!--Text-->
            <p class="card-text textLayout">{{article.content}}</p>
          </a>
      </div>

</div>