{% extends 'adminLayout.html.twig' %}

{% block content %}


<form class="text-center border border-light p-5" method="post">

    <p class="h4 mb-4">Add Category</p>

   
    <!-- Name -->
    <input type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="New Category" name="addCat">

      
    <button class="btn btn-dark" type="submit">New category</button>


</form>
<!-- Default form subscription -->





	

{% endblock %}