h1{
	font-family:UnifrakturMaguntia;
	background-color: white;
	text-align: center;
	margin:0px;
}



.navbar-expand-lg{
	height:50px;
}

.nav-link,.dropdown-item{
	font-weight:bold;
	font-size:20px;
	color: white;
}

.TitleCat{
	font-weight:bold;
	font-size:30px;
}


.md-form input{
  	color:black;
  	font-weight:bold;

}

.logo{
	color:white !important;
}

input::placeholder{
	color:#3E4551 !important;
}

input{
	background-color:white !important;
}

.input-group{
	width:250px !important;
	margin-top: 4px;
}



.logoHome{
	width:40px !important;
	height:40px !important;

}

.content{
	font-weight: bold;
	border-bottom:1px solid white;
	padding-bottom:10px;  
}

.plus{
	font-weight: bold;
	text-align: center;
}


.textLeft,.textLayout,.textTop{
	height:130px;
	overflow: hidden;
	text-overflow: ellipsis;
	
}

.bodyLeft{
	width:70% !important;
}

.vLeft{
	width:25% !important;
}

.textLayout,.textLeft,.textTop{
	margin-bottom:20px !important;
}